body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './assets/partials/entry';
@import './assets/partials/register';
@import './assets/partials/adminPanel';
@import './assets/partials/usersPanel';
