body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entry {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  display: none;
}
.entry .logInAndRegister {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 4px;
}
.entry .logInAndRegister .entrySections {
  height: 100px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.entry .logInAndRegister .entrySections .linkOfRegister {
  height: 30px;
  width: 130px;
  margin-top: 30px;
}
.entry .logInAndRegister .entrySections .findPassword {
  height: 30px;
  width: 130px;
  margin-top: 30px;
}
.entry .logInAndRegister .entrySections .textOfLogin {
  font-size: 50px;
  text-align: center;
  color: rgba(0, 128, 0, 0.61);
}
.entry .logInAndRegister .entrySections .rightEntrySec {
  display: flex;
  align-items: center;
}
.entry .logInAndRegister .entrySections .rightEntrySec button {
  height: 50px;
  width: 100px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(165, 42, 42, 0.808);
  color: white;
}
.entry .logInAndRegister .entrySections .leftEntrySec {
  display: flex;
  flex-direction: column;
}
.entry .logInAndRegister .entrySections .leftEntrySec .boxOfEmailPassword {
  height: 50px;
  width: 100%;
  justify-content: center;
  display: flex;
  justify-content: center;
}
.entry .logInAndRegister .entrySections .leftEntrySec .boxOfEmailPassword input {
  width: 90%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.178);
}

body {
  display: flex;
  justify-content: center;
}
body .register {
  height: 50vh;
  width: 500px;
  margin-top: 100px;
  background-color: rgba(243, 180, 62, 0.623);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  display: none;
}
body .register .boxes {
  height: 12%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .register .boxes .img {
  height: 60px;
  width: 200px;
}
body .register .boxes .img img {
  height: 100%;
  width: 100%;
}
body .register .boxes p {
  font-size: 40px;
  color: rgb(75, 165, 138);
}
body .register .boxes .boxOfInput {
  height: 60%;
  width: 70%;
  border-radius: 5px;
}
body .register .boxes .boxOfInput input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
}
body .register .boxes button {
  border-radius: 5px;
  height: 50px;
  width: 200px;
  border: none;
  font-size: 30px;
  background-color: red;
  color: white;
}

.adminPanel {
  height: 1000px;
  width: 100%;
  background-color: aqua;
  display: none;
}
.adminPanel .header {
  height: 80px;
  width: 100%;
  background-color: rgb(0, 255, 128);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.adminPanel .header .headerParts {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.adminPanel .header .headerParts .boxesOfLeftPart {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminPanel .header .headerParts .boxesOfLeftPart a {
  height: 100%;
  width: 100%;
}
.adminPanel .header .headerParts .boxesOfLeftPart a img {
  height: 100%;
  width: 100%;
}
.adminPanel .header .headerParts .boxesOfLeftPart b {
  font-size: 20px;
}
.adminPanel .header .headerParts .input {
  height: 90%;
  width: 60%;
  border: 1px solid rgb(202, 200, 200);
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.adminPanel .header .headerParts .input input {
  height: 100%;
  width: 100%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.adminPanel .header .headerParts .button {
  height: 90%;
  width: 10%;
  border: 1px solid rgb(202, 200, 200);
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.adminPanel .header .headerParts .button button {
  height: 100%;
  width: 100%;
  border: none;
  border-left: 1px solid rgb(112, 111, 111);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.adminPanel .header .headerParts .boxesRightPart {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.adminPanel .header .headerParts .boxesRightPart a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
.adminPanel .header .headerParts .boxesRightPart a img {
  width: 70%;
  height: 90%;
}
.adminPanel .header .headerParts .boxesRightPart a p {
  font-size: 10px;
}

.usersPanel {
  height: 1000px;
  width: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usersPanel .header {
  height: 80px;
  width: 100%;
  background-color: rgb(0, 255, 128);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.usersPanel .header .headerParts {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.usersPanel .header .headerParts .boxesOfLeftPart {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.usersPanel .header .headerParts .boxesOfLeftPart a {
  height: 100%;
  width: 100%;
}
.usersPanel .header .headerParts .boxesOfLeftPart a img {
  height: 100%;
  width: 100%;
}
.usersPanel .header .headerParts .boxesOfLeftPart b {
  font-size: 20px;
}
.usersPanel .header .headerParts .input {
  height: 90%;
  width: 60%;
  border: 1px solid rgb(202, 200, 200);
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.usersPanel .header .headerParts .input input {
  height: 100%;
  width: 100%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.usersPanel .header .headerParts .button {
  height: 90%;
  width: 10%;
  border: 1px solid rgb(202, 200, 200);
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.usersPanel .header .headerParts .button button {
  height: 100%;
  width: 100%;
  border: none;
  border-left: 1px solid rgb(112, 111, 111);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.usersPanel .header .headerParts .boxesRightPart {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.usersPanel .header .headerParts .boxesRightPart a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
.usersPanel .header .headerParts .boxesRightPart a img {
  width: 70%;
  height: 90%;
}
.usersPanel .header .headerParts .boxesRightPart a p {
  font-size: 10px;
}
.usersPanel .parentOfAddBlog {
  height: 80vh;
  width: 50%;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usersPanel .parentOfAddBlog .childOfAddBlog {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.usersPanel .parentOfAddBlog .childOfAddBlog .title {
  height: 20%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usersPanel .parentOfAddBlog .childOfAddBlog .title input {
  height: 30%;
  width: 60%;
}
.usersPanel .parentOfAddBlog .childOfAddBlog .title input:focus {
  outline: none;
}
.usersPanel .parentOfAddBlog .childOfAddBlog .content {
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: center;
}
.usersPanel .parentOfAddBlog .childOfAddBlog .content textarea {
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
}
.usersPanel .parentOfAddBlog .childOfAddBlog .content input:focus {
  outline: none;
}
.usersPanel .parentOfAddBlog .childOfAddBlog .button {
  height: 7%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usersPanel .parentOfAddBlog .childOfAddBlog .button button {
  width: 90%;
  height: 90%;
  border: none;
  background-color: green;
  color: white;
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */