body {
    display: flex;
    justify-content: center;

    .register {
        height: 50vh;
        width: 500px;
        margin-top: 100px;
        background-color: rgba(243, 180, 62, 0.623);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px;
        display: none;
        
        

        .boxes {
            height: 12%;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img {
                height: 60px;
                width: 200px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            p {
                font-size: 40px;
                color: rgb(75, 165, 138);
            }

            .boxOfInput {
                height: 60%;
                width: 70%;
                border-radius: 5px;

                input {
                    height: 100%;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                }
            }

            button {
                border-radius: 5px;
                height: 50px;
                width: 200px;
                border: none;
                font-size: 30px;
                background-color: red;
                color: white;
            }
        }
    }
}